footer{
    background: var(--color-primary);
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-text-secondary-dark);
    font-weight: 500;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    /* left vertical right */
    margin: 0 auto 2rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__socials a {
    background: var(--color-secondary);
    color: var(--color-icon-secondary-accent);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-icon-secondary-hover);
    border-color: var(--color-icon-secondary-hover);
}

.footer__copyright {
    color: var(--color-text-primary);
}

/* =================== MEDIA QUERIES ================ */
/* Medium devices - tablets */
@media screen and (max-width: 1024px) {

}

/* Smaller devices - phones */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}